<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nav_Background_Color</key>
	<string>29,29,29</string>
	<key>Nav_Title_Color</key>
	<string>225,225,225</string>
	<key>Nav_Tint_Color</key>
	<string>225,225,225</string>
	<key>Nav_Segment_Control_Background_Color</key>
	<string>29,29,29</string>
	<key>Nav_Segment_Control_Border_Color</key>
	<string>244,244,244</string>
	<key>Nav_Segment_Item_Text_Normal_Color</key>
	<string>122,122,122</string>
	<key>Nav_Segment_Item_Text_Selected_Color</key>
	<string>29,29,29</string>
	<key>Nav_Segment_Item_Background_Selected_Color</key>
	<string>244,244,244</string>
	<key>TabBarItem_Normal_Color</key>
	<string>184,184,184</string>
	<key>TabBarItem_Highlighted_Color</key>
	<string>238,17,0</string>
	<key>ToolBarItem_Normal_Color</key>
	<string>135,135,135</string>
	<key>View_Background_Color</key>
	<string>255,255,255</string>
	<key>TableView_Background_Color</key>
	<string>234,234,234</string>
	<key>Message_Link_Color</key>
	<string>0,0,255</string>
	<key>Segment_Title_Color</key>
	<string>68,68,68</string>
	<key>Segment_Background_Color</key>
	<string>255,255,255</string>
	<key>Segment_Line_Color</key>
	<string>219,21,11</string>
	<key>Square_None_Red_H46_Normal_Color</key>
	<string>255,255,255</string>
	<key>Square_None_Red_H46_Highlighted_Color</key>
	<string>200,200,200</string>
	<key>Ellipse_Grey_White_39_Normal_Color</key>
	<string>29,29,29</string>
	<key>TipsLabel_Title_Color</key>
	<string>184,184,184</string>
	<key>Cell_Background_Color</key>
	<string>244,244,244</string>
	<key>Cell_Background_Selected_Color</key>
	<string>238,238,238</string>
	<key>Cell_Title_Color</key>
	<string>0,0,0</string>
	<key>Cell_DetailText_Color</key>
	<string>154,154,154</string>
	<key>Cell_ForHeader_Color</key>
	<string>234,234,234</string>
	<key>Ad_View_Background_Color</key>
	<string>244,244,244</string>
	<key>Ad_Title_Color</key>
	<string>29,29,29</string>
	<key>Ad_PageControl_CoreNormal_Color</key>
	<string>230,230,230</string>
	<key>Ad_PageControl_CoreSelected_Color</key>
	<string>238,17,0</string>
	<key>TextField_Text_Color</key>
	<string>0,0,0</string>
	<key>TextField_Background_Color</key>
	<string>244,244,244</string>
	<key>TextField_PlaceHolderText_Color</key>
	<string>154,154,154</string>
	<key>TextView_Background_Color</key>
	<string>244,244,244</string>
	<key>TextView_Text_Color</key>
	<string>0,0,0</string>
	<key>TextView_PlaceHolderText_Color</key>
	<string>154,154,154</string>
	<key>Posting_Nav_Background_Color</key>
	<string>132,133,134</string>
	<key>Posting_AtUserName_Color</key>
	<string>255,0,0</string>
	<key>Menu_Background_Color</key>
	<string>29,29,29</string>
	<key>Menu_Separator_Color</key>
	<string>0,0,0</string>
	<key>Menu_Title_Normal_Color</key>
	<string>173,173,173</string>
	<key>Picker_Background_Color</key>
	<string>219,219,219</string>
	<key>Picker_Item_Background_Color</key>
	<string>255,255,255</string>
	<key>Picker_Item_Separator_Color</key>
	<string>223,223,223</string>
	<key>Picker_Item_Title_Color</key>
	<string>51,51,51</string>
	<key>Picker_Button_Background_Color</key>
	<string>246,246,246</string>
	<key>Picker_Button_Title_Normal_Color</key>
	<string>239,57,45</string>
	<key>Picker_Toolbar_Background_Color</key>
	<string>246,246,246</string>
	<key>Picker_Toolbar_Title_Normal_Color</key>
	<string>151,151,151</string>
	<key>Forum_SeperatorLine_Color</key>
	<string>229,229,229</string>
	<key>Chat_My_Content_Color</key>
	<string>255,255,250</string>
	<key>Chat_Ta_Content_Color</key>
	<string>3,3,3</string>
	<key>UserInfo_Text_Color</key>
	<string>225,225,225</string>
</dict>
</plist>
